
.content{

    
    width: 360px;
    height: 50px;
    color: rgb(255, 166, 0);
    position: absolute;
    font-size: 19px;
    right: 5px;
    transition: 5s  ease-in-out;
     transform: translateY(-30px);
     opacity: 0;
    top: 255px;
    padding: 0 10px;

}
.content span{
     
   font-family :monospace;
     
}

#icon{
  width: 320px;

    
   cursor: pointer;
   border: none;
   display: flex;
   text-align: center;
    transform: scale(.1);
    translate:  60px 51px;
    transition: 1s ease-in-out;
    opacity: 0;
}
#icon i{
   font-size: 25px;
   height: 36px;
   width: 38px;
   background-color: rgb(20, 20, 20);
    position: relative;
    top: 120px;
    left: 60px;
    line-height: 31px;
    margin:0 14px ;
   display: block;
   border-radius: 50%;
    
    border: 2px solid beige;
   box-shadow: 0px 0px 6px whitesmoke;
   transition: .3s ease-in-out;
}
#icon #a{
color: rgb(22, 114, 227);
}
#icon #b{
   color: rgb(243, 41, 125);
}#icon #c{
   color: rgb(48, 41, 243);
}
#icon #d{
 
   color: rgb(247, 9, 37);
}
#icon #e{
  
   color: rgb(27, 81, 125);
}
#icon #a:hover{
   border-color: rgb(8, 152, 241);
   box-shadow: 0px 0px 15px rgb(8, 152, 241);
   color: rgb(41, 152, 243);
}
#icon #b:hover{
   border-color:rgb(241, 8, 124) ;
   box-shadow: 0px 0px 15px rgb(241, 8, 124);
   color: rgb(243, 41, 125);
}
#icon #c:hover{
   border-color: rgb(8, 12, 241);
   box-shadow: 0px 0px 15px rgb(8, 12, 241);
   color: rgb(48, 41, 243);
}
#icon #d:hover{
   border-color: rgb(241, 8, 74);
   box-shadow: 0px 0px 15px rgb(241, 8, 74);
   color: rgb(243, 41, 65);
}
#icon #e:hover{
   border-color: rgb(25, 91, 133);
   box-shadow: 0px 0px 15px rgb(25, 91, 133);
   color: rgb(27, 81, 125);
}

.h{
  
  letter-spacing: 2px;
  
   height: 55px;
  width:120%;
  white-space: nowrap;
  overflow: hidden;
   
  background-image: linear-gradient(to left,rgb(89, 89, 233) ,rgb(249, 50, 249));
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  animation: type2 3s,cursor2 .6s step-end 8 ;
}
@keyframes type2{
 from{width:0}
}
@keyframes cursor2{
  50%{border-right: transparent;}
  
}


.main{

 
 width: 30%;
  position: relative;
  left: 80px;
  top: 90px;
}
.main h3{
  color: aqua;
  position: absolute;
  left: -55px;
  white-space: nowrap;
}
#main2{
     
    position: absolute;
    top: 50px;
    left: 699px;
    right: 10px;
     width: 190px;
     height: 190px;
     border-radius: 50%;
     object-fit: cover;
     transition: 4s ease-in-out;
     object-position: center;
     background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(58, 238, 34) ,rgb(220, 238, 25),purple,rgb(0, 208, 255)) border-box;
     border: 6px solid transparent;
      
       
      animation: glow 2s infinite,cha 6s  ease-in-out infinite;
}
 @keyframes glow{
  0%{
    box-shadow:0 0px 20px #d3cce0;
  }
  50%{
    box-shadow:0 0px 20px #d3cce0;
  }
  100%{
    box-shadow:none;
  }
 }
  
 
@keyframes cha{
  0%{background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(58, 238, 34) ,rgb(220, 238, 25),rgb(0, 53, 128),rgb(0, 208, 255)) border-box;
} 
10%{
  background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(58, 238, 34) ,rgb(238, 146, 25),purple,rgb(255, 119, 0)) border-box;
} 
 
20%{background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(58, 238, 34) ,rgb(220, 238, 25),rgb(0, 53, 128),rgb(0, 208, 255)) border-box;
} 
30%{
  background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(58, 238, 34) ,rgb(25, 206, 238),purple,rgb(255, 119, 0)) border-box;

}
40%{background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(68, 34, 238) ,rgb(84, 222, 247),rgb(0, 53, 128),rgb(0, 208, 255)) border-box;
} 
50%{
  background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(204, 238, 34) ,rgb(25, 238, 43),purple,rgb(255, 119, 0)) border-box;
}
60%{background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(58, 238, 34) ,rgb(220, 238, 25),rgb(0, 53, 128),rgb(0, 208, 255)) border-box;
} 
70%{
  background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(58, 238, 34) ,rgb(131, 177, 135),purple,rgb(255, 119, 0)) border-box;
}
80%{background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(238, 34, 211) ,rgb(220, 238, 25),rgb(0, 53, 128),rgb(0, 208, 255)) border-box;
} 
90%{
  background: linear-gradient(to left,black,black) padding-box,linear-gradient(to left,rgb(58, 238, 34) ,rgb(238, 25, 174),purple,rgb(255, 119, 0)) border-box;
}
}
#icon #c2{
  color: rgb(119, 243, 119);
}
#icon #c2:hover{
    border-color: rgb(123, 247, 135);
    box-shadow: 0px 0px 15px rgb(102, 245, 128);
    color: rgb(119, 243, 119);
}

/* .navbar span{
  color: rgb(248, 232, 10);
} */
     

   

