body{
    background-color: #170533;
    cursor: pointer;
}
 
.txt{
    
    
    letter-spacing: 3px;
    border-right: 3px solid;
    width:78%;
    white-space: nowrap;
    overflow: hidden;
    
    animation: type 3s,cursor .6s step-end infinite ;
     
}

.tx{
    margin-left: -50px;
    letter-spacing: 5px;
    border-right: 3px solid;
    width:55%;
    white-space: nowrap;
    overflow: hidden;
     
    
 
}

@keyframes cursor {
    50%{border-color: transparent;}
}
@keyframes type {
    from {width: 0;}
    
}
@keyframes retype {
    from {width: 0;}
    
}
@keyframes clear {
    to {width: 0;}
}
@keyframes retype2 {
    from {width: 0;}
    
}
 


#icon {
cursor: pointer;
    border: none;
    display: flex;
     transform: scale(0.01);
     translate:  60px 180px;
     transition:all 1s ease-in-out;
     opacity: 0;
    font-size: 25px;
    height: 36px;
    width: 288px;
/*     background-color: rgb(20, 20, 20); */
     position: absolute;
     top: 150px;
     left: 60px;
    display: flex;
    justify-content: space-between;
flex-direction: row;
   padding: 10px;
    text-align: center;
   
    
}
#icon i{
    position: relative;
    

   display: block;
   border-radius: 50%;
  
    border: 2px solid beige;
   box-shadow: 0px 0px 6px whitesmoke;
 padding: 0px 10px 38px 6px;
  transition: .3s ease-in-out;
  height: 40px;
  width: 42px;
  margin-left: 20px;
}
#icon #a{
color: rgb(22, 114, 227);
}
#icon #b{
    color: rgb(243, 41, 125);
}#icon #c{
    color: rgb(48, 41, 243);
}
#icon #d{
  
    color: rgb(247, 9, 37);
}
#icon #e{
   
    color: rgb(27, 81, 125);
}
#icon #a:hover{
    border-color: rgb(8, 152, 241);
    box-shadow: 0px 0px 15px rgb(8, 152, 241);
    color: rgb(41, 152, 243);
}
#icon #b:hover{
    border-color:rgb(241, 8, 124) ;
    box-shadow: 0px 0px 15px rgb(241, 8, 124);
    color: rgb(243, 41, 125);
}
#icon #c:hover{
    border-color: rgb(8, 12, 241);
    box-shadow: 0px 0px 15px rgb(8, 12, 241);
    color: rgb(48, 41, 243);
}
#icon #d:hover{
    border-color: rgb(241, 8, 74);
    box-shadow: 0px 0px 15px rgb(241, 8, 74);
    color: rgb(243, 41, 65);
}
#icon #e:hover{
    border-color: rgb(25, 91, 133);
    box-shadow: 0px 0px 15px rgb(25, 91, 133);
    color: rgb(27, 81, 125);
}


.images{
    position:absolute;
    left: 650px;
    top: 125px;
      width: 300px;
      height: 278px;
 
      /* background-color: aqua; */
}
#main{
    position: absolute;
    top: 10px;
   left: -30px;
     width: 300px;
     height: 300px;
}
#back{
     position:absolute;
    width: 300px;
    height: 300px;
    left: 0px;
     top:10px;
     
}
 

